__pycache__/
venv/
.idea/
*.i64
build/
dist/
tests/bins/
.ninja_log
CHANGELOG.md
*.lock
*.egg-info
/htmlcov/
/.coverage
poetry.lock
*.DS_Store
*.ninja_log
tests/bins/testbin1
tests/bins/testbin1.fat
tests/bins/testlib1.dylib
