.related-information, .related-information a {
    opacity: 0.4;
    color: white !important;
    text-decoration: none !important;
}
.sidebar-drawer {
    width: calc(41% - 26em);
}
tbody tr:first-of-type td {
    font-weight: 700;
    padding-bottom: .5em;
}